*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}



:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x :hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}


section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
}
 

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    text-emphasis-color: red;
    position: relative;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    color: white;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin-left: 4rem;
    transition: .3s;


    /* font-size: 1.7rem;  // without underline hover effect
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s; */
}

.navbar a:after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    left: 0;
    
    right: 10px;
    bottom: -10px;

    transition: 0.3s;
}

.navbar a:hover::after{
    width: 100%;
}


.navbar a:hover,
.navbar a.active{
    color: var(--main-color);

}


#menu-icon{
    font-size: 3.2rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 35vh;
    filter: grayscale(.4);
    transition: .3s;
}

.home-img:hover{
    filter: grayscale(0);
    transform: scale(1.3) rotate(1.2deg);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color:var(--main-color);
}

.socialmedia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem  solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1rem 3rem 0;
    transition: 1s ease;
}

.socialmedia a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 0.2rem var(--main-color);
}



.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--bg-color);
    border-radius: 1rem;
    margin-top: 50px;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: .1rem;
    font-weight: 600;
}

.btn:hover{
    box-shadow: 0 0 1.5rem var(--main-color);
}

.about{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}


.about-img img {
    width: 35vh;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
    
}

.about-content h3{
    font-size: 2.6rem;

}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.skills{
    background: var(--second-bg-color);
}
.skills h2 {
    margin-bottom: 5rem;
}

.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem; 
    
    
    
}

.skills-container .skills-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.skills-container .skills-box:hover{
    border-color: var(--main-color);
    left: 0px;
    transform: scale(1.02);
}

.skills-box i{
    font-size: 7rem;
    color: black;

}

.skills-box h3{
    font-size: 2.6rem;
}

.skills-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;

}
 


/* <!-- portfolio section design --> */


.Portfolio{
    background:var(--bg-color);
}

.Portfolio h2{
    margin-bottom:  4rem;
}

.Portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.Portfolio-container .Portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.Portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.Portfolio-box:hover img{
    transform: scale(1.1);
}

/* img{
    border-radius: 20px;
} */

.Portfolio-box .Portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.Portfolio-box:hover .Portfolio-layer{
    transform: translateY(0);

}

.Portfolio-layer h4{
    font-size: 3rem;
}

.Portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.Portfolio-layer a {
    display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 5rem;
     height: 5rem;
     background: var(--text-color);
     border-radius: 50%;

}

.Portfolio-layer a i {
    font-size: 2rem;

}





.education{
    background: var(--second-bg-color);
}

.education h2{
    margin-bottom: 5rem;
}

.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

}

.education-container .education-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.education-container .education-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}

.education-box h3{
    font-size: 2.6rem;
}

.education h2{
    margin-bottom: 5rem;
}


.education-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
} 



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3rem;
}

/* .job-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.job-wrapper h1 {
  font-size: 3.5rem;
}

.job-wrapper h1 i {
  margin-right: 0.5rem;
}

.job-wrapper .job-container {
  min-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.job-wrapper .job-container .job-box {
  width: 40rem;
  position: relative;
  padding: 2rem 5rem;
}

.job-wrapper .job-container .job-box::after {
  content: "";
  position: absolute;
  right: -0.2rem;
  top: 0;
  width: 0.4rem;
  height: 100%;
  background-color: black;
  z-index: -6;
}

.job-wrapper .job-container .job-box:nth-child(even)::after {
  left: -0.2rem;
}

.job-wrapper .job-container .job-box:nth-child(odd) {
  align-self: flex-start;
}

.job-wrapper .job-container .job-box:nth-child(even) {
  align-self: flex-end;
  margin-left: -2rem;
}

.job-wrapper .job-container .job-box i {
  position: absolute;
  top: 15%;
  right: -6.5%;
  font-size: 2rem;
  background-color: white;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.5rem solid black;
  text-align: center;
  line-height: 4rem;
}

.job-wrapper .job-container .job-box:nth-child(even) i {
  left: -6.5%;
}

.job-wrapper .job-container .job-box .box {
  border: 0.4rem solid black;
  padding: 0 1rem;
  border-radius: 1rem;
  position: relative;
}

.job-wrapper .job-container .job-box .box .arrow {
  position: absolute;
  content: "";
  width: 3rem;
  height: 1.8rem;
  background-color: black;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: 15%;
  right: -9%;
  transform: rotate(90deg);
}

.job-wrapper .job-container .job-box:nth-child(even) .box .arrow {
  left: -9%;
  transform: rotate(270deg);
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
  }

  .job-wrapper .job-container {
    padding-right: 5rem;
  }
  .job-wrapper .job-container .job-box:nth-child(odd) {
    align-self: center;
  }

  .job-wrapper .job-container .job-box:nth-child(even) {
    align-self: center;
    margin-left: 0;
  }

  .job-wrapper .job-container .job-box:nth-child(even)::after {
    left: 99.5%;
  }

  .job-wrapper .job-container .job-box:nth-child(even) .box .arrow {
    left: 99%;
    transform: rotate(90deg);
  }

  .job-wrapper .job-container .job-box:nth-child(even) i {
    left: 93.5%;
  }
} */

.contact{
    background:var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;

}


.contact form .input-box input{
    width: 49%;

}

.contact form textarea{
    resize: none;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}


/* footer design */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--second-bg-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
}


/* BREAKPOINTS */

@media (max-width:1200px){
    html{
        font-size: 55%;

    }
}

@media (max-width:991px){
   .header{
    padding: 2rem 3%;
   }

   .section{
    padding: 10rem 3% 2rem;
   }

   .skills{
    padding-bottom: 7rem;
   }

   .Portfolio{
    padding-bottom: 7rem;
   }

   .contact{
    min-height: auto;
   }

   .footer{
    padding: 2rem 3% ;
   }
}



@media (max-width:768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size:  5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top:  4rem;

    }


    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .skills h2{
        margin-bottom: 3rem;
    }


    .Portfolio h2{
        margin-bottom: 3rem;
    }

    .Portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:617px){
    .Portfolio-container{
        grid-template-columns: 1fr ;
    }
}


@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .contact from  .input-box input{
        width: 100%;

    } 
}

@media (max-width:365px){
    .home-img img{
        width:90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction:  column-reverse;
    }

    .footer p{
        text-align: 2rem;
        margin-top: 2rem;
    }
}

